/*--------------------------------------------------------------
# Apie
--------------------------------------------------------------*/
.about-mf .box-shadow-full {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  
  .about-mf .about-img {
    margin-bottom: 2rem;
  }
  
  .about-mf .about-img img {
    margin-left: 10px;
  }
  
  @media (min-width: 767px) {
    .about-mf .box-pl2 {
      margin-top: 3rem;
      padding-left: 0rem;
    }
  }
  .p1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
    font-style: normal;
    font-size:x-large;
  }
  .p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: small;
  }
  .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 300;
    font-style: oblique;
    font-size: xx-large;
  }
  
  /*--------------------------------------------------------------
  # Paslaugos
  --------------------------------------------------------------*/
  .service-box {
    display: flex;
    flex-direction: column;
    background-color: #539cd8;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .service-box:hover, .service-box:active .ico-circle {
    transition: all 500ms ease;
    color: #fff;
    background-color: #174e6a;
    box-shadow: 0 0 0 10px #406b9c;
  }
  
  .service-box .service-ico {
    margin-bottom: 1rem;
    color: #1e1e1e;
  }
  
  .service-box .ico-circle {
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .service-box .ico-circle i {
    line-height: 0;
    font-size: 40px;
  }
  
  .service-box .s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
  }
  
  .service-box .s-description {
    color: #4e4e4e;
  }

  .work-box {
    margin-bottom: 2rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
  }
  
  .work-box:hover img {
    transform: scale(1.3);
  }
  
  .work-img {
    display: block;
    overflow: hidden;
  }
  
  .work-img img {
    transition: all 1s;
  }
  
  .work-content {
    padding: 2rem 3% 1rem 4%;
  }
  
  .work-content .w-more {
    color: #4e4e4e;
    font-size: 0.8rem;
  }
  
  .work-content .w-more .w-ctegory {
    color: #0078ff;
  }
  
  .work-content .w-like {
    font-size: 2.5rem;
    color: #0078ff;
    float: right;
  }
  
  .work-content .w-like a {
    color: #0078ff;
  }
  
  .work-content .w-like .num-like {
    font-size: 0.7rem;
  }
  
  .w-title {
    font-size: 1.2rem;
  }
  .img_fluid{
    object-fit:cover;
    width: 500;
    height: 300;
    border: solid 1px #CCC"
  }
  